In [45]:
 import pandas as pd
from sqlalchemy import create_engine

In [46]:
#Extract CSVs into DataFrames

crime_file = "C:/Users/Owner/desktop/ETL-Project/Resources/crime_by_state.csv"
crime_df = pd.read_csv(crime_file)
crime_df

,STATE/UT,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,2001,45,69,22,3,2,6,518,950,312,1006
1,ANDHRA PRADESH,2002,60,98,18,0,4,12,568,830,459,1336
2,ANDHRA PRADESH,2003,33,79,27,1,15,4,615,1234,165,1386
3,ANDHRA PRADESH,2004,39,66,28,0,7,20,474,1319,68,1234
4,ANDHRA PRADESH,2005,37,74,21,0,0,9,459,1244,61,1212
...,...,...,...,...,...,...,...,...,...,...,...,...
451,TOTAL (ALL-INDIA),2008,622,1453,477,50,81,224,4134,11465,279,14645
452,TOTAL (ALL-INDIA),2009,629,1350,511,42,67,195,4322,11037,168,15091
453,TOTAL (ALL-INDIA),2010,572,1350,510,41,75,150,4344,10419,143,15039
454,TOTAL (ALL-INDIA),2011,673,1557,616,36,54,169,4247,11342,67,14958
455,TOTAL (ALL-INDIA),2012,651,1576,490,27,40,214,3855,12576,62,14164

In [47]:
#Create a filtered dataframe from specific columns
crime_cols = ["STATE/UT", "Year", "Murder", "Assault on women", "Kidnapping and Abduction", "Dacoity", "Robbery", "Arson", "Hurt", "Prevention of atrocities (POA) Act", "Protection of Civil Rights (PCR) Act", "Other Crimes Against SCs"]
crime_transformed= crime_df[crime_cols].copy()

In [48]:
#Rename the column headers
crime_transformed = crime_transformed.rename(columns={"State": "STATE/UT",
                                                    "Year (Count)": "Year",
                                                    "Murder (Count)": "Murder",
                                                    "Assault on Women": "Assault on women",
                                                    "Kidnapping And Abduction": "Kidnapping and Abduction",
                                                    "Dacoity (Count)": "Dacoity",
                                                    "Robbery (#)":"Robbery",
                                                    "Arson (#)": "Arson",
                                                    "Hurt (#)": "Hurt",
                                                    "POA Act": "Prevention of atrocities (POA) Act",
                                                    "PCR Act": "Protection of Civil Rights (PCR) Act",
                                                    "Other Crimes Against SC's": "Other Crimes Against SCs"})

#Clean the data by dropping duplicates setting the index
crime_transformed.drop_duplicates("STATE/UT", inplace=True)
crime_transformed.set_index("STATE/UT", inplace=True)

crime_transformed.head()

,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
STATE/UT,,,,,,,,,,,
ANDHRA PRADESH,2001,45,69,22,3,2,6,518,950,312,1006
ARUNACHAL PRADESH,2001,0,0,0,0,0,0,0,0,0,0
ASSAM,2001,0,0,0,0,1,1,4,0,0,0
BIHAR,2001,28,35,8,2,1,17,378,513,81,240
CHHATTISGARH,2001,8,52,8,0,1,0,101,164,1,166

In [40]:
#Create database connection
connection_string = "postgres:postgres@localhost:5432/crime_db"
engine = create_engine(f'postgresql://{connection_string}')

In [41]:
#confirm tables
engine.tables_names()

AttributeError: 'Engine' object has no attribute 'tables_names'

In [ ]:
#Load Dataframes into Database
crime_transformed.to_sql(name='crime', con=engine, if_exists='append', index=True)