In [8]:
 import pandas as pd
from sqlalchemy import create_engine

In [9]:
#Extract CSVs into DataFrames

crime_file = "C:/Users/Owner/desktop/ETL-Project/Resources/crime_by_state.csv"
crime_df = pd.read_csv(crime_file)
crime_df

,STATE/UT,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDHRA PRADESH,2001.0,45.0,69.0,22.0,3.0,2.0,6.0,518.0,950.0,312.0,1006.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDHRA PRADESH,2002.0,60.0,98.0,18.0,0.0,4.0,12.0,568.0,830.0,459.0,1336.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
907,TOTAL (ALL-INDIA),2010.0,572.0,1350.0,510.0,41.0,75.0,150.0,4344.0,10419.0,143.0,15039.0
908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
909,TOTAL (ALL-INDIA),2011.0,673.0,1557.0,616.0,36.0,54.0,169.0,4247.0,11342.0,67.0,14958.0
910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911,TOTAL (ALL-INDIA),2012.0,651.0,1576.0,490.0,27.0,40.0,214.0,3855.0,12576.0,62.0,14164.0

In [10]:
#Create a filtered dataframe from specific columns
crime_cols = ["STATE/UT", "Year", "Murder", "Assault on women", "Kidnapping and Abduction", "Dacoity", "Robbery", "Arson", "Hurt", "Prevention of atrocities (POA) Act", "Protection of Civil Rights (PCR) Act", "Other Crimes Against SCs"]
crime_transformed= crime_df[crime_cols].copy()

In [11]:
#Rename the column headers
crime_transformed = crime_transformed.rename(columns={"STATE/UT": "State",
                                                    "Year": "Year (Count)",
                                                    "Murder (Count)": "Murder",
                                                    "Assault on women": "Assault on Women",
                                                    "Kidnapping and Abduction": "Kidnapping And Abduction",
                                                    "Dacoity": "Dacoity (Count)",
                                                    "Robbery": "Robbery (#)",
                                                    "Arson": "Arson (#)",
                                                    "Hurt": "Hurt (#)",
                                                    "Prevention of atrocities (POA) Act": "POA Act",
                                                    "Protection of Civil Rights (PCR) Act": "PCR Act",
                                                    "Other Crimes Against SCs": "Other Crimes Against SC's"})

#Clean the data by dropping duplicates setting the index
crime_transformed.drop_duplicates("State", inplace=True)
crime_transformed.set_index("State", inplace=True)

crime_transformed.head()

,Year (Count),Murder,Assault on Women,Kidnapping And Abduction,Dacoity (Count),Robbery (#),Arson (#),Hurt (#),POA Act,PCR Act,Other Crimes Against SC's
State,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ANDHRA PRADESH,2001.0,45.0,69.0,22.0,3.0,2.0,6.0,518.0,950.0,312.0,1006.0
ARUNACHAL PRADESH,2001.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ASSAM,2001.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,0.0,0.0
BIHAR,2001.0,28.0,35.0,8.0,2.0,1.0,17.0,378.0,513.0,81.0,240.0

In [12]:
#Create database connection
connection_string = "postgres:postgres@localhost:5432/crime_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
#confirm tables
engine.tables_names()

AttributeError: 'Engine' object has no attribute 'tables_names'

In [ ]:
#Load Dataframes into Database
crime_transformed.to_sql(name='crime', con=engine, if_exists='append', index=True)